
@{
    ViewBag.Title = "Index";
    
    <title>@ViewBag.Title</title>
    
}

<h2>Action Result</h2>
<a href="/ActionResultExample/TextPlain">Chuỗi thông báo</a>
<br />
<a href="/ActionResultExample/FileContent">Nội dung file</a>
<br />
<a href="/Home/About">About</a>
<br />
<a href="/ActionResultExample/RedirectToAction">Redirect to Action</a>
<br />
<a href="/ActionResultExample/RedirectToUrl">Website Trường ĐHNT</a>
<br />
<a href="/ActionResultExample/JsonObject">Json</a>
<br />
<a href="/ActionResultExample/JavaScriptResult">JavaScript</a>